@import "../../common.module.scss";

.Messenger {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $md-blue;
  @media only screen and (max-width: 600px) {
    padding-top: 0;
  }
  padding-top: 5vh;
  .messengerContainer {
    @media only screen and (max-width: 600px) {
      height: 100vh;
      width: 100vw;
      margin: 0;
    }
    margin: auto;
    height: 90vh;
    width: 90vw;
    background-color: $white;
  }
  .cborder {
    border-right: 3px $dark-red solid;
    height: 100%;
    background-color: $dark-blue;
  }
  .sidenav {
    max-height: 100vh;
    background-color: $dark-blue;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .header {
    background-color: $dark-blue;
    color: $dark-red;
    margin-bottom: 0;
  }
  .logout {
    padding-top: 10px;
    text-align: center;
    a {
      color: $dark-red;
    }
  }
  :global(.sidenav) {
    width: 80vw;
  }
  .sidenavIcon {
    background-color: $dark-blue;
    padding: 5px;
    padding-bottom: 0;
    i {
      color: $dark-red;
    }
    margin-bottom: 0;
    margin-top: 0;
  }
}
