@import "../../../common.module.scss";

.MessengerMain {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // max-height: 90vh;
  height: 90vh;
  // border: red solid 2px;
  // overflow-y: hidden;

  @media screen and (max-width: 992px) {
    height: 100vh;
  }

  @media screen and (max-width: 600px) {
    height: 100vh;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* label color */
  :global(.input-field label) {
    color: $dark-red;
  }

  :global(.input-field input[type="text"]) {
    color: $dark-red;
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  :global(.input-field) {
    color: $dark-red;
  }
  /* label focus color */
  :global(.input-field input[type="text"]:focus + label) {
    color: $dark-red;
  }
  /* label underline focus color */
  :global(.input-field input[type="text"]:focus) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* valid color */
  :global(.input-field input[type="text"].valid) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* invalid color */
  :global(.input-field input[type="text"].invalid) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* icon prefix focus color */
  :global(.input-field .prefix.active) {
    color: $dark-red;
  }

  :global(.btn) {
    margin-top: 10px;
    background-color: $dark-red !important;
  }
  :global(.btn:hover) {
    background-color: $darker-red !important;
  }

  .header {
    // position: absolute;
    // outline: blue 2px solid;
    // border: red 2px solid;
    height: 7vh;
    margin-bottom: 0;
    background-color: $m2-blue;
    color: $dark-red;
    border-bottom: 2px $dark-red solid;
    // flex: 1;
  }

  .messageList {
    margin-bottom: 0;
    // border: red 2px solid;
    // outline: blue 2px solid;
    // position: absolute;
    .scroll {
      overflow-y: scroll;
      overflow-x: hidden;

      @media screen and (max-width: 992px) {
        max-height: 80vh;
        height: 80vh;
      }
      @media only screen and (max-width: 600px) {
        max-height: 75vh;
        height: 75vh;
      }
      height: 70vh;
      max-height: 70vh;
    }
    // flex: 1;
  }

  .input {
    // margin: 0;
    // margin-right: -20px;
    // outline: blue 2px solid;
    height: 13vh;
    @media only screen and (max-width: 600px) {
      height: 18vh;
    }
    bottom: 0;
    // position: absolute;
    // width:
    border-top: 2px $dark-red solid;
    padding-top: 10px;
    overflow: hidden;
    background-color: $m2-blue;
    // flex: 1;
  }

  .empty {
    height: 90vh;
    color: $dark-red;
    @media screen and (max-width: 992px) {
      height: 100vh;
    }
    @media only screen and (max-width: 600px) {
      height: 95vh;
    }
    .ncscenter {
      width: 100%;
      text-align: center;
    }
  }

  .MessageView {
    padding: 5px;
    .receiver {
      background-color: $dark-red;
      color: $white;
    }
    .reimage {
      color: black;
      background-color: transparent;
    }
    .sender {
      background-color: $grey;
    }
  }

  :global(#materialbox-overlay) {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
