@import "../../../common.module.scss";

.Contacts {
  height: 75vh;

  @media screen and (max-width: 992px) {
    height: 85vh;
  }

  @media screen and (max-width: 600px) {
    height: 75vh;
  }

  /* label color */
  :global(.input-field label) {
    color: $dark-red;
  }

  :global(.input-field input[type="text"]) {
    color: $dark-red;
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  :global(.input-field) {
    color: $dark-red;
  }
  /* label focus color */
  :global(.input-field input[type="text"]:focus + label) {
    color: $dark-red;
  }
  /* label underline focus color */
  :global(.input-field input[type="text"]:focus) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* valid color */
  :global(.input-field input[type="text"].valid) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* invalid color */
  :global(.input-field input[type="text"].invalid) {
    border-bottom: 1px solid $dark-red;
    box-shadow: 0 1px 0 0 $dark-red;
  }
  /* icon prefix focus color */
  :global(.input-field .prefix.active) {
    color: $dark-red;
  }

  :global(.btn) {
    background-color: $dark-red !important;
  }
  :global(.btn:hover) {
    background-color: $darker-red !important;
  }

  .btn {
    padding-right: 5px;
    padding-left: 5px;
  }

  .r1 {
    height: 10vh;
    // border: solid red 2px;
    // outline: solid blue 2px;
    margin-bottom: 0;
    .search {
      margin-bottom: 0;
    }
  }

  .r2 {
    margin-top: 0;
    // border: solid red 2px;
    height: 10vh;
    .welcome {
      color: $dark-red;
    }
  }

  .list {
    height: 45vh;
    max-height: 45vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: 0;
    @media screen and (max-width: 992px) {
      max-height: 55vh;
      height: 55vh;
    }
    .vh60 {
      height: 100%;
      text-align: center;
      color: $dark-red;
      .ncpfcenter {
        width: 100%;
      }
    }
  }

  .ContactView {
    :global(.btn) {
      font-size: large;
      text-align: left;
      color: $dark-red;
      background-color: $m2-blue !important;
      text-transform: lowercase;
      border-radius: 2px;
      border: $dark-red 1px solid;
      height: 10vh;
      width: 100%;
      a {
        color: $darker-red;
      }
      .fiberNewMargin {
        margin-left: 2px;
      }
    }
    button {
      .userIcon {
        font-size: 2rem;
      }
    }
    :global(.btn:hover) {
      color: $white;
      background-color: $darker-red !important;
      a {
        color: $white;
      }
    }
    .contactSelected {
      color: $white;
      background-color: $darker-red !important;
      a {
        color: $white;
      }
    }
  }
}
