$white: #fcfcfc;
$yellow: #f3a712;
$red: #bb1d44;
$dark-red: #8d0124;
$darker-red: #5e0017;
$dark-blue: #00030e;
$md-blue: #060522;
$m2-blue: #030213;
$blue: #003d57;
$black: #000007;
$grey: #eeeeee;

.border {
  border: 2px solid $red;
}
